/spring_course_mvc_hibernate_aop/target/
/spring_course_mvc_hibernate_aop/target/*
/spring_course_mvc/target/
/spring_course_mvc/target/*
/spring_course2/target/
/spring_course2/target/*
/spring_course_rest/target/
/spring_course_rest/target/*
/spring_course_rest_client/target/
/spring_course_rest_client/target/*
